<!DOCTYPE html><html lang="ko">
<head><meta charset="utf-8"><title>Posts</title></head>
<body><div class="wrap">
<header>
    <h1>
        Revision History of "{{ page.title }}"
    </h1>
</header>

<table class="pagelist revisions">
    <thead><tr>
        <th class="modified">Modified</th>
        <th class="comment">Comment</th>
    </tr></thead>
    <tbody>
        {% for revision in revisions %}
        <tr class="page">
            <td class="modified"><time datetime="{{ revision.created_at|isodt }}">{{ revision.created_at|sdt }}</time></td>
            <td>
                <span class="modifier">{{ revision.modifier|userpage }}</span>
                <br>
                <a class="caret-target comment" href="{{ revision.absolute_url|e }}" rel="nofollow">
                    {% if revision.comment %}
                    {{ revision.comment }}
                    {% endif %}
                </a>
            </td>
        </tr>
        {% else %}
            <tr><td colspan="2">(no revisions)</td></tr>
        {% endfor %}
    </tbody>
</table>

{% if revisions %}
<div>
    <a href="?rev=list&amp;index={{ next_index }}&amp;count={{ count }}" class="next-page">Load next page...</a>
</div>
{% endif %}

</div></body>
</html>
