{% extends "templates/base.html" %}
{% block title %}Revision History of "{{ page.title }}"{% endblock %}
{% block head %}
    <link rel="alternate" type="application/atom+xml" href="/sp.posts?_type=atom" title="{{ config.service.title }} posts">
{% endblock %}
{% block body %}
<header>
    <h1>
        Revision History of "{{ page.title }}"
    </h1>
</header>

<table class="pagelist revisions">
    <thead><tr>
        <th class="modified">Modified</th>
        <th class="comment">Comment</th>
    </tr></thead>
    <tbody>
        {% for revision in revisions %}
        <tr class="page {{ revision.modifier_type }}">
            <td class="modified"><time datetime="{{ revision.created_at|isodt }}">{{ revision.created_at|sdt }}</time></td>
            <td>
                <span class="modifier">{{ revision.modifier|userpage }}</span>
                <br>
                <a class="caret-target comment" href="{{ revision.absolute_url|e }}" rel="nofollow">
                    {% if revision.comment %}
                    {{ revision.comment }}
                    {% else %}
                    No comment
                    {% endif %}
                </a>
            </td>
        </tr>
        {% else %}
            <tr><td colspan="2">(no revisions)</td></tr>
        {% endfor %}
    </tbody>
</table>

{% if revisions %}
<div>
    <a href="?rev=list&amp;index={{ next_index }}&amp;count={{ count }}" class="next-page">Load next page...</a>
    <div class="loading-indicator" style="display: none;"><div class="blockG" id="rotateG_01"></div><div class="blockG" id="rotateG_02"></div><div class="blockG" id="rotateG_03"></div><div class="blockG" id="rotateG_04"></div><div class="blockG" id="rotateG_05"></div><div class="blockG" id="rotateG_06"></div><div class="blockG" id="rotateG_07"></div><div class="blockG" id="rotateG_08"></div></div>
</div>
{% endif %}

{% endblock %}
