{% extends "templates/wiki_base.html" %}
{% block title %}Search "{{ expression }}"{% endblock %}

{% block body %}
<article>
    <header>
        <h1>Search "{{ expression }}"</h1>
        <p>Pages related to:</p>
        <ul>
        {% for title in parsed_expression.pos %}
            <li><a href="{{ title|to_path }}" class="wikipage">{{ title }}</a></li>
        {% endfor %}
        </ul>
        <p>but not related to:</p>
        <ul>
        {% for title in parsed_expression.neg %}
            <li><a href="{{ title|to_path }}" class="wikipage">{{ title }}</a></li>
        {% endfor %}
        </ul>
    </header>
    <section class="body">
        <h2>Positive matches</h2>
        {% if positives %}
            <ul>
            {% for title, score in positives.items() %}
                <li>
                    <span class="score">{{ "%.2f"|format(score) }}</span>
                    <a href="{{ expression|to_path }}_+{{ title }}" rel="nofollow" class="search pos">+</a>
                    <a href="{{ expression|to_path }}_-{{ title }}" rel="nofollow" class="search neg">-</a>
                    <a href="{{ title|to_path }}" class="wikipage caret-target matched-title">{{ title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            (no matches)
        {% endif %}

        <h2>Negative matches</h2>
        {% if negatives %}
            <ul>
            {% for title, score in negatives.items() %}
                <li>
                    <span class="score">{{ "%.2f"|format(score) }}</span>
                    <a href="{{ expression|to_path }}_+{{ title }}" rel="nofollow" class="search pos">+</a>
                    <a href="{{ expression|to_path }}_-{{ title }}" rel="nofollow" class="search neg">-</a>
                    <a href="{{ title|to_path }}" class="wikipage caret-target matched-title">{{ title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            (no matches)
        {% endif %}
    </section>
</article>
{% endblock %}
