{% extends "templates/base.html" %}
{% block title %}Changes{% endblock %}
{% block head %}
    <link rel="alternate" type="application/atom+xml" href="/sp.changes?_type=atom" title="{{ config.service.title }} changes">
{% endblock %}
{% block body %}
<header>
    <h1>
        Changes
    </h1>
</header>

<table class="pagelist changes">
    <thead><tr>
        <th class="updated">Updated</th>
        <th class="page">Pages</th>
    </tr></thead>
    <tbody>
        {% for page in pages %}
        <tr class="page">
            <td class="updated"><time datetime="{{ page.updated_at|isodt }}">{{ page.updated_at|sdt }}</time></td>
            <td class="page">
                <span class="modifier">{{ page.modifier|userpage }}</span>
                <br>
                <a class="caret-target" href="{{ page.absolute_url }}">{{ page.title }}</a>
                <br>
                <span class="comment">
                {% if page.comment %}
                {{ page.comment }}
                {% endif %}
                </span>
            </td>
        </tr>
        {% else %}
            <tr><td colspan=2>(no pages yet)</td></tr>
        {% endfor %}
    </tbody>
</table>

{% if pages %}
<div>
    <a href="/sp.changes?index={{ next_index }}&amp;count={{ count }}" class="next-page">Load next page...</a>
    <div class="loading-indicator" style="display: none;"><div class="blockG" id="rotateG_01"></div><div class="blockG" id="rotateG_02"></div><div class="blockG" id="rotateG_03"></div><div class="blockG" id="rotateG_04"></div><div class="blockG" id="rotateG_05"></div><div class="blockG" id="rotateG_06"></div><div class="blockG" id="rotateG_07"></div><div class="blockG" id="rotateG_08"></div></div>
</div>
{% endif %}

{% endblock %}
