{% extends "templates/base.html" %}
{% block title %}Posts{% endblock %}
{% block head %}
    <link rel="alternate" type="application/atom+xml" href="/sp.posts?_type=atom" title="{{ config.service.title }} posts">
{% endblock %}
{% block body %}
<header>
    <h1>
        Posts
        <a href="/sp.posts?_type=atom" class="rss">RSS</a>
    </h1>
</header>

<table class="pagelist posts">
    <thead><tr>
        <th class="published">Published</th>
        <th class="page">Pages</th>
    </tr></thead>
    <tbody>
        {% for page in pages %}
        <tr class="page">
            <td class="published"><time datetime="{{ page.published_at|isodt }}">{{ page.published_at|sdt }}</time></td>
            <td class="page">
                <span class="modifier">{{ page.modifier|userpage }}</span>
                <br>
                <a class="caret-target" href="{{ page.absolute_url }}">{{ page.title }}</a>
            </td>
        </tr>
        {% else %}
            <tr><td colspan=2>(no posts yet)</td></tr>
        {% endfor %}
    </tbody>
</table>

{% if pages %}
<div>
    <a href="/sp.posts?index={{ next_index }}&amp;count={{ count }}" class="next-page">Load next page...</a>
    <div class="loading-indicator" style="display: none;"><div class="blockG" id="rotateG_01"></div><div class="blockG" id="rotateG_02"></div><div class="blockG" id="rotateG_03"></div><div class="blockG" id="rotateG_04"></div><div class="blockG" id="rotateG_05"></div><div class="blockG" id="rotateG_06"></div><div class="blockG" id="rotateG_07"></div><div class="blockG" id="rotateG_08"></div></div>
</div>
{% endif %}

{% endblock %}
