{% extends "templates/wiki_base.html" %}
{% block title %}Edit "{{ page.title }}"{% endblock %}
{% block head %}
    {% if not is_mobile %}
    <link rel="stylesheet" href="/statics/css/codemirror.css?ver={{ app.version }}">
    <style>
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
    }
    .CodeMirror-scroll {
        overflow-y: hidden;
        overflow-x: auto;

        /* Fixes first line rendering problem in Chrome,
           removing CSS code for hiding scrollbars (uses auto-resizing)
        margin-bottom: 0px;
        padding-bottom: 0px;
        margin-right: 0px;
        padding-right: 0px;
         */
    }
    .CodeMirror pre {
        font-family: NanumGothicCoding, "Courier New", Courier, monospace;
    }
    </style>
    <script type="text/javascript" src="/statics/js/codemirror/codemirror.js?ver={{ app.version }}"></script>
    <script type="text/javascript" src="/statics/js/codemirror/markdown.js?ver={{ app.version }}"></script>
    {% endif %}
{% endblock %}
{% block body %}
<header>
    <h1>{{ page.title }}</h1>
</header>

<article class="preview"><div class="body"></div></article>

<form method="POST" action="{{ page.absolute_url }}" class="editform">
    <input type="hidden" name="revision" value="{{ page.revision }}">
    <input type="hidden" name="preview" value="0">

    <textarea name="body" placeholder="Body" autofocus="autofocus">{{ page.body }}</textarea>
    <input name="comment" placeholder="Comment" class="comment" value="">

    <div class="actions">
        <input type="submit" value="Save" class="btn btn-primary">
        <input type="button" value="Preview" class="btn btn-preview">

        {% if users.is_current_user_admin() %}
        <input type="button" value="Delete" class="btn btn-delete">
        {% endif %}
    </div>
</form>

{% endblock %}
{% block before_body_close %}
    <script>
    $(function() {
        /* Delete */
        $('.btn-delete').on('click', function() {
            if(!window.confirm('Are you sure?')) return false;

            $.post('?_method=DELETE', {}, function() {
                window.location = window.location.pathname;
            });

            return false;
        });

        /* Preview */
        $('.btn-preview').on('click', function() {
            $('.preview').show();

            var $form = $('.editform');

            $form.find('input[name="preview"]').val('1');
            if(window.editor) {
                // code mirror?
                $form.find('textarea[name="body"]').val(window.editor.getValue());
            }
            var formdata = $form.serialize();
            $form.find('input[name="preview"]').val(0);

            $.post('', formdata, function(data) {
                var html = $('<div>').append(jQuery.parseHTML(data)).find('.wrap').html();
                $('.preview .body').html(html);
            });
        });
    });
    </script>
    {% if is_mobile %}
    <script>
        // Resize editor to remove nested scrollbar
        $(function() {
            var $editor = $('.editform textarea');
            if ($editor.length === 0) return;

            function resize_editor() {
                // It doesn't work when there's large amount of reduction in text
                $editor.height($editor.height() - 50);
                $editor.height($editor.prop('scrollHeight'));
            }

            $(resize_editor);
            $(window).resize(resize_editor);
            $(window).on('orientationchange', resize_editor);
            $editor.on('input propertychange', resize_editor);
        });
    </script>
    {% else %}
    <script>
        // Enable CodeMirror editor
        var editor = null;

        $(function() {
            editor = CodeMirror.fromTextArea(document.querySelector('textarea'), {
                indentUnit: 4,
                indentWithTabs: false,
                lineWrapping: true,
                lineNumbers: true,
                autofocus: true,
                mode: 'markdown',
                viewportMargin: Infinity
            });
            editor.addKeyMap({
                'Cmd-Enter': function() {$('input.comment').focus();},
                'Ctrl-Enter': function() {$('input.comment').focus();}
            });
        })
    </script>
    {% endif %}
{% endblock %}
